In [823]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math
import statistics as st

In [824]:

import warnings
warnings.filterwarnings("ignore")

In [825]:
v=np.array([1,2,3,4,5,6,7,8])
s1=pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [826]:
s1.dtype

dtype('int64')

In [827]:
s1.values.itemsize

8

In [828]:
s1.nbytes

64

In [829]:
s1.shape

(8,)

In [830]:
s1.ndim

1

In [831]:
len(s1)

8

In [832]:
s1.count()

np.int64(8)

In [833]:

s1.size

8

In [834]:
s2 = pd.Series([1,2,3],index = ['a','b','c',])
s2

a    1
b    2
c    3
dtype: int64

In [835]:
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g' , 'h']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [836]:
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

(array([0.43727108, 0.5771361 , 0.29333932, 0.14227535, 0.73290584,
        0.6256502 , 0.37457823, 0.04290111, 0.14055946, 0.96089722]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.437271
 1    0.577136
 2    0.293339
 3    0.142275
 4    0.732906
 5    0.625650
 6    0.374578
 7    0.042901
 8    0.140559
 9    0.960897
 dtype: float64)

In [837]:
dict1= {'a1': 10, 'b': 20, 'c' : 30, 'd' : 40}
s3=pd.Series(dict1)
s3

a1    10
b     20
c     30
d     40
dtype: int64

In [838]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

In [839]:

s

0    0.437271
1    0.577136
2    0.293339
3    0.142275
4    0.732906
5    0.625650
6    0.374578
7    0.042901
8    0.140559
9    0.960897
dtype: float64

In [840]:
s[1:5]

1    0.577136
2    0.293339
3    0.142275
4    0.732906
dtype: float64

In [841]:
s[-1:]

9    0.960897
dtype: float64

In [842]:
s[:4]

0    0.437271
1    0.577136
2    0.293339
3    0.142275
dtype: float64

In [843]:
s[:-1]

0    0.437271
1    0.577136
2    0.293339
3    0.142275
4    0.732906
5    0.625650
6    0.374578
7    0.042901
8    0.140559
dtype: float64

In [844]:
s[-1:]

9    0.960897
dtype: float64

In [845]:
s[-3:-1]

7    0.042901
8    0.140559
dtype: float64

In [846]:
s2=s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [847]:
s3

a1    10
b     20
c     30
d     40
dtype: int64

In [848]:
s4 = pd.concat([s1, s2])
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [849]:
s4.drop('b' , inplace=False)

a    1
c    3
d    4
e    5
f    6
g    7
h    8
a    1
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [850]:
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [851]:
s4 = pd.concat([s4, pd.Series({'d': 7})])
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
d    7
dtype: int64

In [852]:
v1 = np.array([10, 20, 30, 40])
v2= np.array([1,2,3,4])
s1=pd.Series(v1)
s2=pd.Series(v2)
s1 , s2

(0    10
 1    20
 2    30
 3    40
 dtype: int64,
 0    1
 1    2
 2    3
 3    4
 dtype: int64)

In [853]:
s1.add(s2)

0    11
1    22
2    33
3    44
dtype: int64

In [854]:
s1.sub(s2)

0     9
1    18
2    27
3    36
dtype: int64

In [855]:
s1.mul(s2)

0     10
1     40
2     90
3    160
dtype: int64

In [856]:
s1.div(s2)

0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64

In [857]:
s1.max()

np.int64(40)

In [858]:
s1.min()

np.int64(10)

In [859]:
s1.mean()

np.float64(25.0)

In [860]:
s1.equals(s2)

False

In [861]:
s1.std()

np.float64(12.909944487358056)

In [862]:
s1.median()

np.float64(25.0)

In [863]:
s1.mode()

0    10
1    20
2    30
3    40
dtype: int64

In [864]:
s5= pd.Series([1,1,2,2,3,3,4,4], index=[1,2,3,4,5,6,7,8])
s5

1    1
2    1
3    2
4    2
5    3
6    3
7    4
8    4
dtype: int64

In [865]:
s5.value_counts()

1    2
2    2
3    2
4    2
Name: count, dtype: int64

In [866]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [867]:
lang = ['Java', 'Python', 'C', 'C++', 'Rust']
df = pd.DataFrame(lang)
df

        0
0    Java
1  Python
2       C
3     C++
4    Rust

In [868]:
rating = [1,2,3,4,5]
df[1]= rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4
4    Rust  5

In [869]:
df.columns= ['PRG LANG', 'Rating']
df

  PRG LANG  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4
4     Rust       5

In [870]:
data =[{'a' : 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df2= pd.DataFrame(data)
df3= pd.DataFrame(data, index=['row 1','row 2'], columns=['a' , 'b'])
df4= pd.DataFrame(data, index=['row 1','row 2'], columns=['a' , 'b' , 'c'])
df5= pd.DataFrame(data, index=['row 1','row 2'], columns=['a' , 'b' , 'c' , 'd'])
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [871]:
df3

       a   b
row 1  1   2
row 2  5  10

In [872]:
df4

       a   b     c
row 1  1   2   NaN
row 2  5  10  20.0

In [873]:
df5

       a   b     c   d
row 1  1   2   NaN NaN
row 2  5  10  20.0 NaN

In [874]:
df0=pd.DataFrame({'ID': [1,2,3,4] , 'Name' : ['Panshul' , 'Vikram' , 'Aggarwal' , 'is awesome']})
df0

   ID        Name
0   1     Panshul
1   2      Vikram
2   3    Aggarwal
3   4  is awesome

In [875]:
dict= {'A' : pd.Series([1,2,3], index=['a' , 'b' , 'c']),
        'B' : pd.Series([1,2,3,4], index=['a' , 'b' , 'c' , 'd'])}
df1=pd.DataFrame(dict)
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [876]:
dates=pd.date_range(start='28-05-2025' , end='31-05-2025')
dates

DatetimeIndex(['2025-05-28', '2025-05-29', '2025-05-30', '2025-05-31'], dtype='datetime64[ns]', freq='D')

In [877]:
MP=np.random.random((4,4))
MP

array([[0.23201566, 0.5070715 , 0.21046553, 0.67023523],
       [0.80539784, 0.32383302, 0.28397109, 0.75445086],
       [0.88565604, 0.07744206, 0.75848608, 0.43360531],
       [0.14706712, 0.27941519, 0.10104258, 0.36627853]])

In [878]:
dframe=pd.DataFrame(MP, index=dates)
dframe

                   0         1         2         3
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605
2025-05-31  0.147067  0.279415  0.101043  0.366279

In [879]:
dframe.columns=['C1' , 'C2' , 'C3' , 'C4']
dframe

                  C1        C2        C3        C4
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605
2025-05-31  0.147067  0.279415  0.101043  0.366279

In [880]:
dframe.index

DatetimeIndex(['2025-05-28', '2025-05-29', '2025-05-30', '2025-05-31'], dtype='datetime64[ns]', freq='D')

In [881]:
dframe.columns

Index(['C1', 'C2', 'C3', 'C4'], dtype='object')

In [882]:
dframe.dtypes

C1    float64
C2    float64
C3    float64
C4    float64
dtype: object

In [883]:
dframe.sort_values(by='C1')

                  C1        C2        C3        C4
2025-05-31  0.147067  0.279415  0.101043  0.366279
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605

In [884]:
dframe.sort_values(by='C4' ,ascending=False)

                  C1        C2        C3        C4
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-30  0.885656  0.077442  0.758486  0.433605
2025-05-31  0.147067  0.279415  0.101043  0.366279

In [885]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [886]:
del df1['B']

In [887]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [888]:
df5.pop('d')

row 1   NaN
row 2   NaN
Name: d, dtype: float64

In [889]:
df5

       a   b     c
row 1  1   2   NaN
row 2  5  10  20.0

In [890]:
dict = {'A' : pd.Series([2,8,5,7], index=['p' , 'v' , 'a', 'k']),
        'B':  pd.Series([1, 2, 3, 4], index=['p', 'v', 'a', 'k'])}
df12=pd.DataFrame(dict)
df12

   A  B
p  2  1
v  8  2
a  5  3
k  7  4

In [891]:
df12.drop(['A'] , axis=1,inplace=True)
df12

   B
p  1
v  2
a  3
k  4

In [892]:
col1 = np.linspace(10, 100, 30)
col2 = np.random.randint(10,100,30)
df10 = pd.DataFrame({"C1" : col1 , "C2" :col2})
df10

            C1  C2
0    10.000000  24
1    13.103448  94
2    16.206897  73
3    19.310345  52
4    22.413793  53
5    25.517241  85
6    28.620690  53
7    31.724138  97
8    34.827586  17
9    37.931034  22
10   41.034483  46
11   44.137931  50
12   47.241379  39
13   50.344828  71
14   53.448276  59
15   56.551724  55
16   59.655172  51
17   62.758621  17
18   65.862069  37
19   68.965517  67
20   72.068966  11
21   75.172414  13
22   78.275862  74
23   81.379310  80
24   84.482759  60
25   87.586207  75
26   90.689655  78
27   93.793103  99
28   96.896552  76
29  100.000000  23

In [893]:
df10 = df10.drop([17,18,19], axis=0)
df10

            C1  C2
0    10.000000  24
1    13.103448  94
2    16.206897  73
3    19.310345  52
4    22.413793  53
5    25.517241  85
6    28.620690  53
7    31.724138  97
8    34.827586  17
9    37.931034  22
10   41.034483  46
11   44.137931  50
12   47.241379  39
13   50.344828  71
14   53.448276  59
15   56.551724  55
16   59.655172  51
20   72.068966  11
21   75.172414  13
22   78.275862  74
23   81.379310  80
24   84.482759  60
25   87.586207  75
26   90.689655  78
27   93.793103  99
28   96.896552  76
29  100.000000  23

In [894]:
df10.drop([16], axis=0,inplace=True)
df10

            C1  C2
0    10.000000  24
1    13.103448  94
2    16.206897  73
3    19.310345  52
4    22.413793  53
5    25.517241  85
6    28.620690  53
7    31.724138  97
8    34.827586  17
9    37.931034  22
10   41.034483  46
11   44.137931  50
12   47.241379  39
13   50.344828  71
14   53.448276  59
15   56.551724  55
20   72.068966  11
21   75.172414  13
22   78.275862  74
23   81.379310  80
24   84.482759  60
25   87.586207  75
26   90.689655  78
27   93.793103  99
28   96.896552  76
29  100.000000  23

In [895]:
df10.drop(df10.index[5] , inplace=True)
df10

            C1  C2
0    10.000000  24
1    13.103448  94
2    16.206897  73
3    19.310345  52
4    22.413793  53
6    28.620690  53
7    31.724138  97
8    34.827586  17
9    37.931034  22
10   41.034483  46
11   44.137931  50
12   47.241379  39
13   50.344828  71
14   53.448276  59
15   56.551724  55
20   72.068966  11
21   75.172414  13
22   78.275862  74
23   81.379310  80
24   84.482759  60
25   87.586207  75
26   90.689655  78
27   93.793103  99
28   96.896552  76
29  100.000000  23

In [896]:
df10 = df10.iloc[3:,]
df10

            C1  C2
3    19.310345  52
4    22.413793  53
6    28.620690  53
7    31.724138  97
8    34.827586  17
9    37.931034  22
10   41.034483  46
11   44.137931  50
12   47.241379  39
13   50.344828  71
14   53.448276  59
15   56.551724  55
20   72.068966  11
21   75.172414  13
22   78.275862  74
23   81.379310  80
24   84.482759  60
25   87.586207  75
26   90.689655  78
27   93.793103  99
28   96.896552  76
29  100.000000  23

In [897]:
df10 = df10.iloc[:-4,]
df10

           C1  C2
3   19.310345  52
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71
14  53.448276  59
15  56.551724  55
20  72.068966  11
21  75.172414  13
22  78.275862  74
23  81.379310  80
24  84.482759  60
25  87.586207  75

In [898]:
df10 = df10.iloc[:10,]
df10

           C1  C2
3   19.310345  52
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71

In [899]:
df10.index[df10['C2'] == 52].tolist()

[3]

In [900]:
df10.drop(df10.index[df10['C2'] == 52].tolist() , axis=0,inplace=True)
df10

           C1  C2
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71

In [901]:
df10 = df10.drop(df10[df10["C2"]==78].index)
df10

           C1  C2
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71

In [902]:
df10 = df10[df10.C2 != 14]
df10

           C1  C2
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71

In [903]:
df10 = df10[~(df10.C2.isin ([21,48]))]
df10

           C1  C2
4   22.413793  53
6   28.620690  53
7   31.724138  97
8   34.827586  17
9   37.931034  22
10  41.034483  46
11  44.137931  50
12  47.241379  39
13  50.344828  71

In [904]:
df10 = df10[df10.C2.isin ([10,44])]
df10

Empty DataFrame
Columns: [C1, C2]
Index: []

In [905]:
dict = {'A' : pd.Series([1, 2, 3,11],    index=['a', 'b', 'c','d']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df11 = pd.DataFrame(dict)
df11

    A  B
a   1  1
b   2  2
c   3  3
d  11  4

In [906]:
df11.drop("d", axis=0,inplace=True)
df11

   A  B
a  1  1
b  2  2
c  3  3

In [907]:
df13 = pd.DataFrame({ 'ID' :[1,2,3,4] , 
                     'Name' :['Panshul' , 'Vikram' , 'Aggarwal' , 'is awesome'] , 
                     'location' : ['India' , 'Australia','UK' , 'US'] })
df13

   ID        Name   location
0   1     Panshul      India
1   2      Vikram  Australia
2   3    Aggarwal         UK
3   4  is awesome         US

In [908]:
ind = df13[((df13.Name == 'Vikram') &(df13.ID == 2) & (df13.location == 'Australia'))].index
df13.drop(ind,inplace=True)
df13

   ID        Name location
0   1     Panshul    India
2   3    Aggarwal       UK
3   4  is awesome       US

In [909]:
df

  PRG LANG  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4
4     Rust       5

In [910]:
df.index = [1,2,3,4,5]
df

  PRG LANG  Rating
1     Java       1
2   Python       2
3        C       3
4      C++       4
5     Rust       5

In [911]:
df.loc[1]

PRG LANG    Java
Rating         1
Name: 1, dtype: object

In [912]:
df.iloc[1]

PRG LANG    Python
Rating           2
Name: 2, dtype: object

In [913]:
df.loc[1:2]

  PRG LANG  Rating
1     Java       1
2   Python       2

In [914]:
df.iloc[1:2]

  PRG LANG  Rating
2   Python       2

In [915]:
df.loc[df.Rating > 2]

  PRG LANG  Rating
3        C       3
4      C++       4
5     Rust       5

In [916]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [917]:
df1.loc['a']

A    1.0
Name: a, dtype: float64

In [918]:
dframe

                  C1        C2        C3        C4
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605
2025-05-31  0.147067  0.279415  0.101043  0.366279

In [919]:
dframe['28-05-2025' : '30-05-2025' ]

                  C1        C2        C3        C4
2025-05-28  0.232016  0.507071  0.210466  0.670235
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605

In [920]:
dframe.loc[:,['C1' , 'C3']]

                  C1        C3
2025-05-28  0.232016  0.210466
2025-05-29  0.805398  0.283971
2025-05-30  0.885656  0.758486
2025-05-31  0.147067  0.101043

In [921]:
dframe.loc['28-05-2025' : '30-05-2025',['C1' , 'C3']]

                  C1        C3
2025-05-28  0.232016  0.210466
2025-05-29  0.805398  0.283971
2025-05-30  0.885656  0.758486

In [922]:
dframe[dframe['C1'] > 0.5]

                  C1        C2        C3        C4
2025-05-29  0.805398  0.323833  0.283971  0.754451
2025-05-30  0.885656  0.077442  0.758486  0.433605

In [923]:
dframe[(dframe['C1'] > 0.5) & (dframe['C4'] > 0.5)]

                  C1        C2        C3        C4
2025-05-29  0.805398  0.323833  0.283971  0.754451

In [924]:
dframe.iloc[0][0]

np.float64(0.2320156586955172)

In [925]:
dframe.iloc[:,0:3]

                  C1        C2        C3
2025-05-28  0.232016  0.507071  0.210466
2025-05-29  0.805398  0.323833  0.283971
2025-05-30  0.885656  0.077442  0.758486
2025-05-31  0.147067  0.279415  0.101043

In [926]:
dframe.iloc[0][0] = 10

In [927]:
dframe[dframe['C1'].isin([10,20])]

              C1        C2        C3        C4
2025-05-28  10.0  0.507071  0.210466  0.670235

In [928]:
dframe['C1'] = 2857
dframe

              C1        C2        C3        C4
2025-05-28  2857  0.507071  0.210466  0.670235
2025-05-29  2857  0.323833  0.283971  0.754451
2025-05-30  2857  0.077442  0.758486  0.433605
2025-05-31  2857  0.279415  0.101043  0.366279

In [929]:
dframe.iat[0,2] = 4022
dframe

              C1        C2           C3        C4
2025-05-28  2857  0.507071  4022.000000  0.670235
2025-05-29  2857  0.323833     0.283971  0.754451
2025-05-30  2857  0.077442     0.758486  0.433605
2025-05-31  2857  0.279415     0.101043  0.366279

In [930]:
dframe1 = dframe.copy(deep=True)

In [931]:
dframe1[(dframe1['C1'] > 0.5) & (dframe1['C4'] > 0.5)] = 0
dframe1[dframe1['C1'] == 0]

            C1   C2   C3   C4
2025-05-28   0  0.0  0.0  0.0
2025-05-29   0  0.0  0.0  0.0

In [932]:
dframe1[dframe1['C1'].isin([0])] = 99
dframe1

              C1         C2         C3         C4
2025-05-28    99  99.000000  99.000000  99.000000
2025-05-29    99  99.000000  99.000000  99.000000
2025-05-30  2857   0.077442   0.758486   0.433605
2025-05-31  2857   0.279415   0.101043   0.366279

In [933]:
dframe

              C1        C2           C3        C4
2025-05-28  2857  0.507071  4022.000000  0.670235
2025-05-29  2857  0.323833     0.283971  0.754451
2025-05-30  2857  0.077442     0.758486  0.433605
2025-05-31  2857  0.279415     0.101043  0.366279

In [934]:
dframe1[dframe1['C1'] == 99]

            C1    C2    C3    C4
2025-05-28  99  99.0  99.0  99.0
2025-05-29  99  99.0  99.0  99.0

In [935]:
dframe.notna()

              C1    C2    C3    C4
2025-05-28  True  True  True  True
2025-05-29  True  True  True  True
2025-05-30  True  True  True  True
2025-05-31  True  True  True  True

In [936]:
dframe.isna()

               C1     C2     C3     C4
2025-05-28  False  False  False  False
2025-05-29  False  False  False  False
2025-05-30  False  False  False  False
2025-05-31  False  False  False  False

In [937]:
dframe = dframe.fillna(1020)
dframe

              C1        C2           C3        C4
2025-05-28  2857  0.507071  4022.000000  0.670235
2025-05-29  2857  0.323833     0.283971  0.754451
2025-05-30  2857  0.077442     0.758486  0.433605
2025-05-31  2857  0.279415     0.101043  0.366279

In [938]:
dframe.mean()

C1    2857.000000
C2       0.296940
C3    1005.785875
C4       0.556142
dtype: float64

In [939]:
dframe.max()

C1    2857.000000
C2       0.507071
C3    4022.000000
C4       0.754451
dtype: float64

In [940]:
dframe.min()

C1    2857.000000
C2       0.077442
C3       0.101043
C4       0.366279
dtype: float64

In [941]:
dframe.median()

C1    2857.000000
C2       0.301624
C3       0.521229
C4       0.551920
dtype: float64

In [942]:
dframe.std()

C1       0.000000
C2       0.176413
C3    2010.809436
C4       0.185658
dtype: float64

In [943]:
dframe.var()

C1    0.000000e+00
C2    3.112165e-02
C3    4.043355e+06
C4    3.446902e-02
dtype: float64

In [944]:
dframe.quantile(0.25)

C1    2857.000000
C2       0.228922
C3       0.238239
C4       0.416774
Name: 0.25, dtype: float64

In [945]:
dframe.quantile(0.50)

C1    2857.000000
C2       0.301624
C3       0.521229
C4       0.551920
Name: 0.5, dtype: float64

In [946]:
dframe.quantile(0.75)

C1    2857.000000
C2       0.369643
C3    1006.068865
C4       0.691289
Name: 0.75, dtype: float64

In [947]:
dframe.quantile(0.75) - dframe.quantile(0.25)

C1       0.000000
C2       0.140721
C3    1005.830626
C4       0.274516
dtype: float64

In [948]:
dframe.sum()

C1    11428.000000
C2        1.187762
C3     4023.143500
C4        2.224570
dtype: float64

In [949]:
dframe.describe()

           C1        C2           C3        C4
count     4.0  4.000000     4.000000  4.000000
mean   2857.0  0.296940  1005.785875  0.556142
std       0.0  0.176413  2010.809436  0.185658
min    2857.0  0.077442     0.101043  0.366279
25%    2857.0  0.228922     0.238239  0.416774
50%    2857.0  0.301624     0.521229  0.551920
75%    2857.0  0.369643  1006.068865  0.691289
max    2857.0  0.507071  4022.000000  0.754451

In [950]:
dframe.skew()

C1    0.00000
C2   -0.15578
C3    2.00000
C4    0.06247
dtype: float64

In [951]:
dframe.kurt()

C1    0.000000
C2    1.200752
C3    4.000000
C4   -4.407319
dtype: float64

In [952]:
dframe.corr()

    C1        C2        C3        C4
C1 NaN       NaN       NaN       NaN
C2 NaN  1.000000  0.794011  0.605871
C3 NaN  0.794011  1.000000  0.409676
C4 NaN  0.605871  0.409676  1.000000

In [953]:
dframe.cov()

     C1          C2            C3          C4
C1  0.0    0.000000  0.000000e+00    0.000000
C2  0.0    0.031122  2.816622e+02    0.019844
C3  0.0  281.662162  4.043355e+06  152.941735
C4  0.0    0.019844  1.529417e+02    0.034469

In [954]:
st.mean(dframe['C2'])

0.2969404399345158

In [955]:
st.harmonic_mean(dframe['C2'])

0.1855984556560273

In [956]:
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

np.float64(4.5)

In [957]:
st.median_low(arr)

np.int64(4)

In [958]:
st.median_high(arr)

np.int64(5)

In [959]:
st.mode(dframe['C4'])

0.670235226251524

In [960]:
st.variance(dframe['C3'])

4043354.587090942

In [961]:
st.pvariance(dframe['C2'])

0.02334123657131861

In [962]:
st.stdev(dframe['C2'])

0.1764132896404297

In [963]:
st.pstdev(dframe['C2'])

0.15277839039379426

In [964]:
dframe

              C1        C2           C3        C4
2025-05-28  2857  0.507071  4022.000000  0.670235
2025-05-29  2857  0.323833     0.283971  0.754451
2025-05-30  2857  0.077442     0.758486  0.433605
2025-05-31  2857  0.279415     0.101043  0.366279

In [965]:
dframe.apply(max)

C1    2857.000000
C2       0.507071
C3    4022.000000
C4       0.754451
dtype: float64

In [966]:
dframe.apply(min)

C1    2857.000000
C2       0.077442
C3       0.101043
C4       0.366279
dtype: float64

In [967]:
dframe.apply(sum)

C1    11428.000000
C2        1.187762
C3     4023.143500
C4        2.224570
dtype: float64

In [968]:
dframe.apply(np.sum)

C1    11428.000000
C2        1.187762
C3     4023.143500
C4        2.224570
dtype: float64

In [969]:
dframe.apply(np.sum ,axis=1)

2025-05-28    6880.177307
2025-05-29    2858.362255
2025-05-30    2858.269533
2025-05-31    2857.746736
Freq: D, dtype: float64

In [970]:
dframe.applymap(np.sqrt)

                   C1        C2         C3        C4
2025-05-28  53.450912  0.712090  63.419240  0.818679
2025-05-29  53.450912  0.569063   0.532889  0.868591
2025-05-30  53.450912  0.278284   0.870911  0.658487
2025-05-31  53.450912  0.528597   0.317872  0.605209

In [971]:
dframe.applymap(math.sqrt)

                   C1        C2         C3        C4
2025-05-28  53.450912  0.712090  63.419240  0.818679
2025-05-29  53.450912  0.569063   0.532889  0.868591
2025-05-30  53.450912  0.278284   0.870911  0.658487
2025-05-31  53.450912  0.528597   0.317872  0.605209

In [972]:
dframe.applymap(float)

                C1        C2           C3        C4
2025-05-28  2857.0  0.507071  4022.000000  0.670235
2025-05-29  2857.0  0.323833     0.283971  0.754451
2025-05-30  2857.0  0.077442     0.758486  0.433605
2025-05-31  2857.0  0.279415     0.101043  0.366279

In [973]:
dframe.apply(lambda x: min(x))

C1    2857.000000
C2       0.077442
C3       0.101043
C4       0.366279
dtype: float64

In [974]:
dframe.apply(lambda x: x*x)

                 C1        C2            C3        C4
2025-05-28  8162449  0.257122  1.617648e+07  0.449215
2025-05-29  8162449  0.104868  8.063958e-02  0.569196
2025-05-30  8162449  0.005997  5.753011e-01  0.188014
2025-05-31  8162449  0.078073  1.020960e-02  0.134160

In [975]:
daf1 =  pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 'Name': ['Panshul', 'Vikram', 'Aggarwal', 'is', 'awesome']})
daf1

  id      Name
0  1   Panshul
1  2    Vikram
2  3  Aggarwal
3  4        is
4  5   awesome

In [976]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

  id  Score
0  1     40
1  2     60
2  6     80
3  7     90
4  8     70

In [977]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

  id  Score
0  1     40
1  2     60
2  6     80
3  7     90
4  8     70

In [978]:
pd.merge(daf1, daf2, on='id', how='inner')

  id     Name  Score
0  1  Panshul     40
1  2   Vikram     60

In [979]:
pd.merge(daf1, daf2, on='id', how='outer')

  id      Name  Score
0  1   Panshul   40.0
1  2    Vikram   60.0
2  3  Aggarwal    NaN
3  4        is    NaN
4  5   awesome    NaN
5  6       NaN   80.0
6  7       NaN   90.0
7  8       NaN   70.0

In [980]:
pd.merge(daf1, daf2, on='id', how='left')

  id      Name  Score
0  1   Panshul   40.0
1  2    Vikram   60.0
2  3  Aggarwal    NaN
3  4        is    NaN
4  5   awesome    NaN

In [981]:
pd.merge(daf1, daf2, on='id', how='right')

  id     Name  Score
0  1  Panshul     40
1  2   Vikram     60
2  6      NaN     80
3  7      NaN     90
4  8      NaN     70

In [982]:
df2 = pd.read_csv('Pokemon.csv')
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [983]:
df2['Total'] = df2['HP'] + df2['Attack']
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,91,39,52,43,60,50,65,1,False

In [984]:
df2['Total'] = df2.iloc[:,4:10].sum(axis=1)
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False

In [985]:
cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,False,45,1
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,False,60,1
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,False,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,False,80,1
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,False,65,1

In [986]:
cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary,Speed
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,1,False,45
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,1,False,60
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,1,False,80
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,1,False,80
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,1,False,65

In [987]:
cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[12]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False

In [988]:
df2.to_csv('poke_updated.csv')

In [989]:
df2.to_csv('poke_updated1.csv', index=False)

In [990]:
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,447,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,596,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,742,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,716,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False

In [991]:
df2.to_csv('poke.txt' , sep='\t' , index=False)

In [992]:
df2.to_excel('poke.xlsx')

In [993]:
df2.to_excel('poke.xlsx', index=0)

In [994]:
df3 = df2.loc[(df2['Type 2'] == 'Dragon') & (df2['Type 1'] == 'Dark')]
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
694,633,Deino,Dark,Dragon,379,52,65,50,45,50,38,5,False
695,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,58,5,False
696,635,Hydreigon,Dark,Dragon,699,92,105,90,125,90,98,5,False

In [995]:
df4 = df3.reset_index()
df4

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,694,633,Deino,Dark,Dragon,379,52,65,50,45,50,38,5,False
1,695,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,58,5,False
2,696,635,Hydreigon,Dark,Dragon,699,92,105,90,125,90,98,5,False

In [996]:
df4 = df3.reset_index()
df4

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,694,633,Deino,Dark,Dragon,379,52,65,50,45,50,38,5,False
1,695,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,58,5,False
2,696,635,Hydreigon,Dark,Dragon,699,92,105,90,125,90,98,5,False

In [997]:
df3.reset_index(drop=True , inplace=True)
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,633,Deino,Dark,Dragon,379,52,65,50,45,50,38,5,False
1,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,58,5,False
2,635,Hydreigon,Dark,Dragon,699,92,105,90,125,90,98,5,False

In [998]:
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,447,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,596,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,742,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,716,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False

In [999]:
df2.Name.str.contains("rill").head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Name, dtype: bool

In [1000]:
df2.loc[df2.Name.str.contains("rill")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
18,15,Beedrill,Bug,Poison,475,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,565,65,150,40,15,80,145,1,False
198,183,Marill,Water,Fairy,300,70,20,50,20,50,40,2,False
199,184,Azumarill,Water,Fairy,520,100,50,80,60,80,50,2,False
322,298,Azurill,Normal,Fairy,240,50,20,40,20,40,20,3,False
589,530,Excadrill,Ground,Steel,665,110,135,60,50,65,88,5,False
653,592,Frillish,Water,Ghost,390,55,40,50,65,85,40,5,False

In [1001]:
df2.loc[~df2.Name.str.contains("rill")].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,447,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,596,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,742,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,716,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False

In [1002]:
df2.loc[df2['Type 1'].str.contains("Grass") & df2['Type 2'].str.contains("Poison")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,385,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,480,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,595,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,385,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,490,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,605,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,445,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,295,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,555,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,403,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,633,114,85,70,85,80,30,5,False

In [1003]:
df2.loc[df2['Type 1'].str.contains('Grass|Water',regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,614,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,734,79,103,120,135,115,78,1,False
48,43,Oddish,Grass,Poison,385,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,480,60,65,70,85,75,40,1,False

In [1004]:
df2.loc[df2['Type 1'].str.contains('grass|water',regex = True)].head(10)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [1005]:
df2.loc[df2['Type 1'].str.contains('grass|water',case=False ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,614,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,734,79,103,120,135,115,78,1,False
48,43,Oddish,Grass,Poison,385,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,480,60,65,70,85,75,40,1,False

In [1006]:
df2.loc[df2['Type 1'].str.contains('grass|water',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,614,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,734,79,103,120,135,115,78,1,False
48,43,Oddish,Grass,Poison,385,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,480,60,65,70,85,75,40,1,False

In [1007]:
df2.loc[df2.Name.str.contains('^Wa',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,58,1,False
350,320,Wailmer,Water,NaN,540,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,700,170,90,45,90,45,60,3,False
400,365,Walrein,Ice,Water,655,110,80,90,95,90,65,3,False
564,505,Watchog,Normal,NaN,488,60,85,69,60,69,77,5,False

In [1008]:
df2.loc[df2.Name.str.contains('^Wa[a-l]+',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
350,320,Wailmer,Water,NaN,540,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,700,170,90,45,90,45,60,3,False
400,365,Walrein,Ice,Water,655,110,80,90,95,90,65,3,False

In [1009]:
df2.loc[df2.Name.str.contains('^[x-z]',flags = re.I ,regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
46,41,Zubat,Poison,Flying,275,40,45,35,30,40,55,1,False
157,145,Zapdos,Electric,Flying,660,90,90,85,125,90,100,1,True
192,178,Xatu,Psychic,Flying,515,65,75,70,95,70,95,2,False
208,193,Yanma,Bug,Flying,425,65,65,45,75,45,95,2,False
286,263,Zigzagoon,Normal,NaN,248,38,30,41,30,41,60,3,False
367,335,Zangoose,Normal,NaN,556,73,115,60,60,60,90,3,False
520,469,Yanmega,Bug,Flying,582,86,76,86,116,56,95,4,False
582,523,Zebstrika,Electric,NaN,556,75,100,63,80,63,116,5,False
623,562,Yamask,Ghost,NaN,341,38,30,85,55,65,30,5,False
631,570,Zorua,Dark,NaN,370,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,570,60,105,60,120,60,105,5,False
695,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,58,5,False
707,644,Zekrom,Dragon,Electric,840,100,150,120,120,100,90,5,True
792,716,Xerneas,Fairy,NaN,838,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,838,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,713,108,100,121,81,95,95,6,True

In [1010]:
df2['Name2'] = df2.Name.str.extract(r'(^\w{3})')

In [1011]:
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False,Ivy
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False,Ven
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False,Ven
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False,Cha

In [1012]:
df2.loc[df2.Name.str.match(r'(^[C|c].*)')].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Fire,NaN,447,58,64,58,80,65,80,1,False,Cha
6,6,Charizard,Fire,Flying,596,78,84,78,109,85,100,1,False,Cha
7,6,CharizardMega Charizard X,Fire,Dragon,742,78,130,111,130,85,100,1,False,Cha
8,6,CharizardMega Charizard Y,Fire,Flying,716,78,104,78,159,115,100,1,False,Cha
13,10,Caterpie,Bug,NaN,225,45,30,35,20,20,45,1,False,Cat
40,35,Clefairy,Fairy,NaN,403,70,45,48,60,65,35,1,False,Cle
41,36,Clefable,Fairy,NaN,588,95,70,73,95,90,60,1,False,Cle
98,91,Cloyster,Water,Ice,600,50,95,180,85,45,70,1,False,Clo
112,104,Cubone,Ground,NaN,385,50,50,95,40,50,35,1,False,Cub

In [1013]:
df2['Type 1'] = df2['Type 1'].replace({"Grass" : "Ghaas" , "Fire" :"Aag" , "Water" :"Paani"})
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Ghaas,Poison,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Ghaas,Poison,467,60,62,63,80,80,60,1,False,Ivy
2,3,Venusaur,Ghaas,Poison,607,80,82,83,100,100,80,1,False,Ven
3,3,VenusaurMega Venusaur,Ghaas,Poison,725,80,100,123,122,120,80,1,False,Ven
4,4,Charmander,Aag,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Aag,NaN,447,58,64,58,80,65,80,1,False,Cha
6,6,Charizard,Aag,Flying,596,78,84,78,109,85,100,1,False,Cha
7,6,CharizardMega Charizard X,Aag,Dragon,742,78,130,111,130,85,100,1,False,Cha
8,6,CharizardMega Charizard Y,Aag,Flying,716,78,104,78,159,115,100,1,False,Cha
9,7,Squirtle,Paani,NaN,363,44,48,65,50,64,43,1,False,Squ

In [1014]:
df2['Type 2'] = df2['Type 2'].replace({"Poison" : "Zahar" , "Flying" : "Udna"})
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Ghaas,Zahar,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Ghaas,Zahar,467,60,62,63,80,80,60,1,False,Ivy
2,3,Venusaur,Ghaas,Zahar,607,80,82,83,100,100,80,1,False,Ven
3,3,VenusaurMega Venusaur,Ghaas,Zahar,725,80,100,123,122,120,80,1,False,Ven
4,4,Charmander,Aag,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Aag,NaN,447,58,64,58,80,65,80,1,False,Cha
6,6,Charizard,Aag,Udna,596,78,84,78,109,85,100,1,False,Cha
7,6,CharizardMega Charizard X,Aag,Dragon,742,78,130,111,130,85,100,1,False,Cha
8,6,CharizardMega Charizard Y,Aag,Udna,716,78,104,78,159,115,100,1,False,Cha
9,7,Squirtle,Paani,NaN,363,44,48,65,50,64,43,1,False,Squ

In [1015]:
df2.loc[df2['Type 2'] == 'Udna' , 'Name2'] = np.nan
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Ghaas,Zahar,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Ghaas,Zahar,467,60,62,63,80,80,60,1,False,Ivy
2,3,Venusaur,Ghaas,Zahar,607,80,82,83,100,100,80,1,False,Ven
3,3,VenusaurMega Venusaur,Ghaas,Zahar,725,80,100,123,122,120,80,1,False,Ven
4,4,Charmander,Aag,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Aag,NaN,447,58,64,58,80,65,80,1,False,Cha
6,6,Charizard,Aag,Udna,596,78,84,78,109,85,100,1,False,NaN
7,6,CharizardMega Charizard X,Aag,Dragon,742,78,130,111,130,85,100,1,False,Cha
8,6,CharizardMega Charizard Y,Aag,Udna,716,78,104,78,159,115,100,1,False,NaN
9,7,Squirtle,Paani,NaN,363,44,48,65,50,64,43,1,False,Squ

In [1016]:
df2.loc[df2['Total'] > 400 , ['Name2' , 'Legendary']] = 'ALERT'
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Ghaas,Zahar,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Ghaas,Zahar,467,60,62,63,80,80,60,1,ALERT,ALERT
2,3,Venusaur,Ghaas,Zahar,607,80,82,83,100,100,80,1,ALERT,ALERT
3,3,VenusaurMega Venusaur,Ghaas,Zahar,725,80,100,123,122,120,80,1,ALERT,ALERT
4,4,Charmander,Aag,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Aag,NaN,447,58,64,58,80,65,80,1,ALERT,ALERT
6,6,Charizard,Aag,Udna,596,78,84,78,109,85,100,1,ALERT,ALERT
7,6,CharizardMega Charizard X,Aag,Dragon,742,78,130,111,130,85,100,1,ALERT,ALERT
8,6,CharizardMega Charizard Y,Aag,Udna,716,78,104,78,159,115,100,1,ALERT,ALERT
9,7,Squirtle,Paani,NaN,363,44,48,65,50,64,43,1,False,Squ

In [1017]:
df2.loc[df2['Total'] > 400 , ['Legendary' , 'Name2']] = ['ALERT-1' , 'ALERT-2'] 
df2.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,1,Bulbasaur,Ghaas,Zahar,367,45,49,49,65,65,45,1,False,Bul
1,2,Ivysaur,Ghaas,Zahar,467,60,62,63,80,80,60,1,ALERT-1,ALERT-2
2,3,Venusaur,Ghaas,Zahar,607,80,82,83,100,100,80,1,ALERT-1,ALERT-2
3,3,VenusaurMega Venusaur,Ghaas,Zahar,725,80,100,123,122,120,80,1,ALERT-1,ALERT-2
4,4,Charmander,Aag,NaN,335,39,52,43,60,50,65,1,False,Cha
5,5,Charmeleon,Aag,NaN,447,58,64,58,80,65,80,1,ALERT-1,ALERT-2
6,6,Charizard,Aag,Udna,596,78,84,78,109,85,100,1,ALERT-1,ALERT-2
7,6,CharizardMega Charizard X,Aag,Dragon,742,78,130,111,130,85,100,1,ALERT-1,ALERT-2
8,6,CharizardMega Charizard Y,Aag,Udna,716,78,104,78,159,115,100,1,ALERT-1,ALERT-2
9,7,Squirtle,Paani,NaN,363,44,48,65,50,64,43,1,False,Squ

In [1018]:
df = pd.read_csv('poke_updated1.csv')
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False

In [1019]:
df.groupby(['Type 1']).mean(int).head(10)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,445.101449,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,524.774194,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,662.937500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,487.795455,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,500.235294,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,517.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,538.307692,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,532.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,513.437500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,499.700000,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857

In [1020]:
df.groupby(['Type 1']).mean(int).sort_values('Attack' , ascending = False).head(10)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,662.937500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,517.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,543.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,556.068182,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,590.370370,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,524.774194,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,538.307692,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,532.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,477.500000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,510.705357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [1021]:
df.groupby(['Type 1']).mean(int).sort_values('Defense' , ascending = False).head(10)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,590.370370,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,556.068182,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,662.937500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,543.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,513.437500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,510.705357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,514.750000,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,499.700000,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,445.101449,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,524.774194,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516

In [1022]:
df.groupby(['Type 1']).mean(int).sort_values('Speed' , ascending = False).head(10)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Flying,677.750000,532.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,487.795455,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Dragon,474.375000,662.937500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Psychic,380.807018,536.543860,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Dark,461.354839,524.774194,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,538.307692,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Normal,319.173469,480.877551,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fighting,363.851852,517.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Water,303.089286,510.705357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,513.437500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500

In [1023]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [1024]:
df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [1025]:
df['count1'] = 0
df.groupby(['Type 2']).count()['count1']

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: count1, dtype: int64

In [1026]:
df.groupby(['Type 1']).count()['count1']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count1, dtype: int64

In [1033]:
df['count1'] = 0
df.groupby(['Type 1' , 'Type 2' , 'Legendary']).count()['count1']

Type 1    Type 2    Legendary
Bug       Electric  False         2
          Fighting  False         2
          Fire      False         2
          Flying    False        14
          Ghost     False         1
          Grass     False         6
          Ground    False         2
          Poison    False        12
          Rock      False         3
          Steel     False         7
          Water     False         1
Dark      Dragon    False         3
          Fighting  False         2
          Fire      False         3
          Flying    False         4
                    True          1
          Ghost     False         2
          Ice       False         2
          Psychic   False         2
          Steel     False         2
Dragon    Electric  True          1
          Fairy     False         1
          Fire      True          1
          Flying    False         4
                    True          2
          Ground    False         4
                    True          1
          Ice       True          3
          Psychic   True          4
Electric  Dragon    False         1
          Fairy     False         1
          Fire      False         1
          Flying    False         2
                    True          3
          Ghost     False         1
          Grass     False         1
          Ice       False         1
          Normal    False         2
          Steel     False         3
          Water     False         1
Fairy     Flying    False         2
Fighting  Dark      False         1
          Flying    False         1
          Psychic   False         3
          Steel     False         2
Fire      Dragon    False         1
          Fighting  False         7
          Flying    False         4
                    True          2
          Ground    False         3
          Normal    False         2
          Psychic   False         2
          Rock      False         1
          Steel     True          1
          Water     True          1
Flying    Dragon    False         2
Ghost     Dark      False         1
          Dragon    True          2
          Fire      False         3
          Flying    False         2
          Grass     False        10
          Poison    False         4
Grass     Dark      False         3
          Dragon    False         1
          Fairy     False         2
          Fighting  False         2
                    True          1
          Flying    False         4
                    True          1
          Ground    False         1
          Ice       False         3
          Poison    False        15
          Psychic   False         2
          Steel     False         2
Ground    Dark      False         3
          Dragon    False         2
          Electric  False         1
          Fire      True          1
          Flying    False         2
                    True          2
          Ghost     False         2
          Psychic   False         2
          Rock      False         3
          Steel     False         1
Ice       Flying    False         1
                    True          1
          Ghost     False         1
          Ground    False         3
          Psychic   False         2
          Water     False         3
Normal    Fairy     False         5
          Fighting  False         2
          Flying    False        24
          Grass     False         2
          Ground    False         1
          Psychic   False         2
          Water     False         1
Poison    Bug       False         1
          Dark      False         3
          Dragon    False         1
          Fighting  False         2
          Flying    False         3
          Ground    False         2
          Water     False         1
Psychic   Dark      True          1
          Fairy     False         6
          Fighting  False         2
                    True          1
          Fire      True          1
          Flying    False         5
                    True          1
          Ghost     True          1
          Grass     False         1
Rock      Bug       False         2
          Dark      False         2
          Dragon    False         2
          Fairy     False         1
                    True          2
          Fighting  True          1
          Flying    False         4
          Grass     False         2
          Ground    False         6
          Ice       False         2
          Psychic   False         2
          Steel     False         3
          Water     False         6
Steel     Dragon    True          1
          Fairy     False         3
          Fighting  True          1
          Flying    False         1
          Ghost     False         4
          Ground    False         2
          Psychic   False         6
                    True          1
          Rock      False         3
Water     Dark      False         6
          Dragon    False         1
                    True          1
          Electric  False         2
          Fairy     False         2
          Fighting  False         3
          Flying    False         7
          Ghost     False         2
          Grass     False         3
          Ground    False        10
          Ice       False         3
          Poison    False         3
          Psychic   False         5
          Rock      False         4
          Steel     False         1
Name: count1, dtype: int64

In [1034]:
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    print(df)

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    367  45      49       49
1  2                    Ivysaur  Grass  Poison    467  60      62       63
2  3                   Venusaur  Grass  Poison    607  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    725  80     100      123
4  4                 Charmander   Fire     NaN    335  39      52       43
5  5                 Charmeleon   Fire     NaN    447  58      64       58
6  6                  Charizard   Fire  Flying    596  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    742  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    716  78     104       78
9  7                   Squirtle  Water     NaN    363  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False
     #                     Name Type 1  Type 2  Total  HP  Attack  Defense  \
10   8                Wartortle  Water     NaN    469  59      63       80
11   9                Blastoise  Water     NaN    614  79      83      100
12   9  BlastoiseMega Blastoise  Water     NaN    734  79     103      120
13  10                 Caterpie    Bug     NaN    225  45      30       35
14  11                  Metapod    Bug     NaN    245  50      20       55
15  12               Butterfree    Bug  Flying    430  60      45       50
16  13                   Weedle    Bug  Poison    220  40      35       30
17  14                   Kakuna    Bug  Poison    240  45      25       50
18  15                 Beedrill    Bug  Poison    475  65      90       40
19  15    BeedrillMega Beedrill    Bug  Poison    565  65     150       40

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
10       65       80     58           1      False
11       85      105     78           1      False
12      135      115     78           1      False
13       20       20     45           1      False
14       25       25     30           1      False
15       90       80     70           1      False
16       20       20     50           1      False
17       25       25     35           1      False
18       45       80     75           1      False
19       15       80    145           1      False
     #                 Name  Type 1  Type 2  Total  HP  Attack  Defense  \
20  16               Pidgey  Normal  Flying    280  40      45       40
21  17            Pidgeotto  Normal  Flying    401  63      60       55
22  18              Pidgeot  Normal  Flying    541  83      80       75
23  18  PidgeotMega Pidgeot  Normal  Flying    621  83      80       80
24  19              Rattata  Normal     NaN    267  30      56       35
25  20             Raticate  Normal     NaN    452  55      81       60
26  21              Spearow  Normal  Flying    292  40      60       30
27  22               Fearow  Normal  Flying    497  65      90       65
28  23                Ekans  Poison     NaN    328  35      60       44
29  24                Arbok  Poison     NaN    503  60      85       69

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
20       35       35     56           1      False
21       50       50     71           1      False
22       70       70    101           1      False
23      135       80    121           1      False
24       25       35     72           1      False
25       50       70     97           1      False
26       31       31     70           1      False
27       61       61    100           1      False
28       40       54     55           1      False
29       65       79     80           1      False
     #       Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
30  25    Pikachu  Electric     NaN    320  35      55       40       50
31  26     Raichu  Electric     NaN    525  60      90       55       90
32  27  Sandshrew    Ground     NaN    385  50      75       85       20
33  28  Sandslash    Ground     NaN    560  75     100      110       45
34  29   Nidoran♀    Poison     NaN    336  55      47       52       40
35  30   Nidorina    Poison     NaN    441  70      62       67       55
36  31  Nidoqueen    Poison  Ground    611  90      92       87       75
37  32   Nidoran♂    Poison     NaN    326  46      57       40       40
38  33   Nidorino    Poison     NaN    433  61      72       57       55
39  34   Nidoking    Poison  Ground    603  81     102       77       85

    Sp. Def  Speed  Generation  Legendary
30       50     90           1      False
31       80    110           1      False
32       30     40           1      False
33       55     65           1      False
34       40     41           1      False
35       55     56           1      False
36       85     76           1      False
37       40     50           1      False
38       55     65           1      False
39       75     85           1      False
     #        Name  Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  \
40  35    Clefairy   Fairy     NaN    403   70      45       48       60
41  36    Clefable   Fairy     NaN    588   95      70       73       95
42  37      Vulpix    Fire     NaN    313   38      41       40       50
43  38   Ninetales    Fire     NaN    554   73      76       75       81
44  39  Jigglypuff  Normal   Fairy    410  115      45       20       45
45  40  Wigglytuff  Normal   Fairy    600  140      70       45       85
46  41       Zubat  Poison  Flying    275   40      45       35       30
47  42      Golbat  Poison  Flying    520   75      80       70       65
48  43      Oddish   Grass  Poison    385   45      50       55       75
49  44       Gloom   Grass  Poison    480   60      65       70       85

    Sp. Def  Speed  Generation  Legendary
40       65     35           1      False
41       90     60           1      False
42       65     65           1      False
43      100    100           1      False
44       25     20           1      False
45       50     45           1      False
46       40     55           1      False
47       75     90           1      False
48       65     30           1      False
49       75     40           1      False
     #       Name  Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
50  45  Vileplume   Grass  Poison    595  75      80       85      110
51  46      Paras     Bug   Grass    365  35      70       55       45
52  47   Parasect     Bug   Grass    530  60      95       80       60
53  48    Venonat     Bug  Poison    375  60      55       50       40
54  49   Venomoth     Bug  Poison    495  70      65       60       90
55  50    Diglett  Ground     NaN    235  10      55       25       35
56  51    Dugtrio  Ground     NaN    400  35      80       50       50
57  52     Meowth  Normal     NaN    285  40      45       35       40
58  53    Persian  Normal     NaN    460  65      70       60       65
59  54    Psyduck   Water     NaN    367  50      52       48       65

    Sp. Def  Speed  Generation  Legendary
50       90     50           1      False
51       55     25           1      False
52       80     30           1      False
53       55     45           1      False
54       75     90           1      False
55       45     95           1      False
56       70    120           1      False
57       40     90           1      False
58       65    115           1      False
59       50     55           1      False
     #       Name    Type 1    Type 2  Total  HP  Attack  Defense  Sp. Atk  \
60  55    Golduck     Water       NaN    577  80      82       78       95
61  56     Mankey  Fighting       NaN    355  40      80       35       35
62  57   Primeape  Fighting       NaN    530  65     105       60       60
63  58  Growlithe      Fire       NaN    415  55      70       45       70
64  59   Arcanine      Fire       NaN    660  90     110       80      100
65  60    Poliwag     Water       NaN    300  40      50       40       40
66  61  Poliwhirl     Water       NaN    425  65      65       65       50
67  62  Poliwrath     Water  Fighting    625  90      95       95       70
68  63       Abra   Psychic       NaN    265  25      20       15      105
69  64    Kadabra   Psychic       NaN    370  40      35       30      120

    Sp. Def  Speed  Generation  Legendary
60       80     85           1      False
61       45     70           1      False
62       70     95           1      False
63       50     60           1      False
64       80     95           1      False
65       40     90           1      False
66       50     90           1      False
67       90     70           1      False
68       55     90           1      False
69       70    105           1      False
     #                   Name    Type 1  Type 2  Total  HP  Attack  Defense  \
70  65               Alakazam   Psychic     NaN    485  55      50       45
71  65  AlakazamMega Alakazam   Psychic     NaN    545  55      50       65
72  66                 Machop  Fighting     NaN    420  70      80       50
73  67                Machoke  Fighting     NaN    540  80     100       70
74  68                Machamp  Fighting     NaN    670  90     130       80
75  69             Bellsprout     Grass  Poison    385  50      75       35
76  70             Weepinbell     Grass  Poison    490  65      90       50
77  71             Victreebel     Grass  Poison    605  80     105       65
78  72              Tentacool     Water  Poison    345  40      40       35
79  73             Tentacruel     Water  Poison    565  80      70       65

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
70      135       95    120           1      False
71      175       95    150           1      False
72       35       35     35           1      False
73       50       60     45           1      False
74       65       85     55           1      False
75       70       30     40           1      False
76       85       45     55           1      False
77      100       70     70           1      False
78       50      100     70           1      False
79       80      120    100           1      False
     #                 Name    Type 1   Type 2  Total  HP  Attack  Defense  \
80  74              Geodude      Rock   Ground    400  40      80      100
81  75             Graveler      Rock   Ground    505  55      95      115
82  76                Golem      Rock   Ground    650  80     120      130
83  77               Ponyta      Fire      NaN    455  50      85       55
84  78             Rapidash      Fire      NaN    560  65     100       70
85  79             Slowpoke     Water  Psychic    455  90      65       65
86  80              Slowbro     Water  Psychic    630  95      75      110
87  80  SlowbroMega Slowbro     Water  Psychic    730  95      75      180
88  81            Magnemite  Electric    Steel    340  25      35       70
89  82             Magneton  Electric    Steel    505  50      60       95

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
80       30       30     20           1      False
81       45       45     35           1      False
82       55       65     45           1      False
83       65       65     90           1      False
84       80       80    105           1      False
85       40       40     15           1      False
86      100       80     30           1      False
87      130       80     30           1      False
88       95       55     45           1      False
89      120       70     70           1      False
     #        Name  Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  \
90  83  Farfetch'd  Normal  Flying    409   52      65       55       58
91  84       Doduo  Normal  Flying    355   35      85       45       35
92  85      Dodrio  Normal  Flying    530   60     110       70       60
93  86        Seel   Water     NaN    390   65      45       55       45
94  87     Dewgong   Water     Ice    565   90      70       80       70
95  88      Grimer  Poison     NaN    460   80      80       50       40
96  89         Muk  Poison     NaN    660  105     105       75       65
97  90    Shellder   Water     NaN    360   30      65      100       45
98  91    Cloyster   Water     Ice    600   50      95      180       85
99  92      Gastly   Ghost  Poison    295   30      35       30      100

    Sp. Def  Speed  Generation  Legendary
90       62     60           1      False
91       35     75           1      False
92       60    100           1      False
93       70     45           1      False
94       95     70           1      False
95       50     25           1      False
96      100     50           1      False
97       25     40           1      False
98       45     70           1      False
99       35     80           1      False
       #               Name    Type 1  Type 2  Total  HP  Attack  Defense  \
100   93            Haunter     Ghost  Poison    405  45      50       45
101   94             Gengar     Ghost  Poison    515  60      65       60
102   94  GengarMega Gengar     Ghost  Poison    595  60      65       80
103   95               Onix      Rock  Ground    395  35      45      160
104   96            Drowzee   Psychic     NaN    394  60      48       45
105   97              Hypno   Psychic     NaN    574  85      73       70
106   98             Krabby     Water     NaN    410  30     105       90
107   99            Kingler     Water     NaN    585  55     130      115
108  100            Voltorb  Electric     NaN    300  40      30       50
109  101          Electrode  Electric     NaN    450  60      50       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
100      115       55     95           1      False
101      130       75    110           1      False
102      170       95    130           1      False
103       30       45     70           1      False
104       43       90     42           1      False
105       73      115     67           1      False
106       25       25     50           1      False
107       50       50     75           1      False
108       55       55    100           1      False
109       80       80    140           1      False
       #        Name    Type 1   Type 2  Total  HP  Attack  Defense  Sp. Atk  \
110  102   Exeggcute     Grass  Psychic    385  60      40       80       60
111  103   Exeggutor     Grass  Psychic    655  95      95       85      125
112  104      Cubone    Ground      NaN    385  50      50       95       40
113  105     Marowak    Ground      NaN    520  60      80      110       50
114  106   Hitmonlee  Fighting      NaN    538  50     120       53       35
115  107  Hitmonchan  Fighting      NaN    534  50     105       79       35
116  108   Lickitung    Normal      NaN    500  90      55       75       60
117  109     Koffing    Poison      NaN    410  40      65       95       60
118  110     Weezing    Poison      NaN    585  65      90      120       85
119  111     Rhyhorn    Ground     Rock    485  80      85       95       30

     Sp. Def  Speed  Generation  Legendary
110       45     40           1      False
111       65     55           1      False
112       50     35           1      False
113       80     45           1      False
114      110     87           1      False
115      110     76           1      False
116       75     30           1      False
117       45     35           1      False
118       70     60           1      False
119       30     25           1      False
       #                       Name  Type 1 Type 2  Total   HP  Attack  \
120  112                     Rhydon  Ground   Rock    680  105     130
121  113                    Chansey  Normal    NaN    655  250       5
122  114                    Tangela   Grass    NaN    495   65      55
123  115                 Kangaskhan  Normal    NaN    600  105      95
124  115  KangaskhanMega Kangaskhan  Normal    NaN    720  105     125
125  116                     Horsea   Water    NaN    305   30      40
126  117                     Seadra   Water    NaN    475   55      65
127  118                    Goldeen   Water    NaN    369   45      67
128  119                    Seaking   Water    NaN    554   80      92
129  120                     Staryu   Water    NaN    330   30      45

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
120      120       45       45     40           1      False
121        5       35      105     50           1      False
122      115      100       40     60           1      False
123       80       40       80     90           1      False
124      100       60      100    100           1      False
125       70       70       25     60           1      False
126       95       95       45     85           1      False
127       60       35       50     63           1      False
128       65       65       80     68           1      False
129       55       70       55     85           1      False
       #               Name    Type 1   Type 2  Total  HP  Attack  Defense  \
130  121            Starmie     Water  Psychic    540  60      75       85
131  122           Mr. Mime   Psychic    Fairy    455  40      45       65
132  123            Scyther       Bug   Flying    575  70     110       80
133  124               Jynx       Ice  Psychic    475  65      50       35
134  125         Electabuzz  Electric      NaN    533  65      83       57
135  126             Magmar      Fire      NaN    562  65      95       57
136  127             Pinsir       Bug      NaN    605  65     125      100
137  127  PinsirMega Pinsir       Bug   Flying    715  65     155      120
138  128             Tauros    Normal      NaN    555  75     100       95
139  129           Magikarp     Water      NaN    150  20      10       55

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
130      100       85    115           1      False
131      100      120     90           1      False
132       55       80    105           1      False
133      115       95     95           1      False
134       95       85    105           1      False
135      100       85     93           1      False
136       55       70     85           1      False
137       65       90    105           1      False
138       40       70    110           1      False
139       15       20     80           1      False
       #                   Name    Type 1  Type 2  Total   HP  Attack  \
140  130               Gyarados     Water  Flying    679   95     125
141  130  GyaradosMega Gyarados     Water    Dark    809   95     155
142  131                 Lapras     Water     Ice    690  130      85
143  132                  Ditto    Normal     NaN    336   48      48
144  133                  Eevee    Normal     NaN    380   55      55
145  134               Vaporeon     Water     NaN    655  130      65
146  135                Jolteon  Electric     NaN    525   65      65
147  136                Flareon      Fire     NaN    655   65     130
148  137                Porygon    Normal     NaN    480   65      60
149  138                Omanyte      Rock   Water    395   35      40

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
140       79       60      100     81           1      False
141      109       70      130     81           1      False
142       80       85       95     60           1      False
143       48       48       48     48           1      False
144       50       45       65     55           1      False

In [1035]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,260,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,567,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,838,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,838,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,713,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,700,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,800,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,720,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,840,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,720,80,110,120,130,90,70,6,True

In [1036]:
df1 = pd.DataFrame()
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    df1 = pd.concat([df1 ,df])
df1.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,447,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,596,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,742,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,716,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,363,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,614,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,734,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,225,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,245,50,20,55,25,25,30,1,False

In [1037]:
col = pd.MultiIndex.from_product([['2010','2015'],['Literacy' , 'GDP']])

data =([[80,7,88,6],[90,8,92,7],[89,7,91,8],[87,6,93,8]])

df6 = pd.DataFrame(data, index=['India','USA' , 'Russia' , 'China'], columns=col)
df6

           2010         2015
       Literacy GDP Literacy GDP
India        80   7       88   6
USA          90   8       92   7
Russia       89   7       91   8
China        87   6       93   8

In [1038]:
st_df = df6.stack()
st_df

                 2010  2015
India  GDP          7     6
       Literacy    80    88
USA    GDP          8     7
       Literacy    90    92
Russia GDP          7     8
       Literacy    89    91
China  GDP          6     8
       Literacy    87    93

In [1039]:
unst_df = st_df.unstack()
unst_df

       2010          2015
        GDP Literacy  GDP Literacy
China     6       87    8       93
India     7       80    6       88
Russia    7       89    8       91
USA       8       90    7       92

In [1040]:
unst_df = unst_df.unstack()
unst_df

2010  GDP       China      6
                India      7
                Russia     7
                USA        8
      Literacy  China     87
                India     80
                Russia    89
                USA       90
2015  GDP       China      8
                India      6
                Russia     8
                USA        7
      Literacy  China     93
                India     88
                Russia    91
                USA       92
dtype: int64

In [1041]:
unst_df = unst_df.unstack()
unst_df

               China  India  Russia  USA
2010 GDP           6      7       7    8
     Literacy     87     80      89   90
2015 GDP           8      6       8    7
     Literacy     93     88      91   92

In [1042]:
data = {
    'Country':['India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China'],
    'Year':['2010','2010','2010','2010' , '2010','2010','2010','2010','2015','2015','2015','2015','2015','2015','2015','2015'],
     
    'Literacy/GDP':['GDP' , 'GDP' , 'GDP' , 'GDP','Literacy' , 'Literacy', 'Literacy' , 'Literacy','GDP' , 'GDP','GDP' , 'GDP','Literacy' , 'Literacy','Literacy' , 'Literacy'],
   'Value':[7,8,7,6,80,90,89,87,6,7,8, 8, 88 , 92 , 91 ,93]}
 
df7 = pd.DataFrame(data,columns=['Country','Year','Literacy/GDP','Value'])
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [1043]:
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='sum')

                               Country  Value
Year Literacy/GDP
2010 GDP           IndiaUSARussiaChina     28
     Literacy      IndiaUSARussiaChina    346
2015 GDP           IndiaUSARussiaChina     29
     Literacy      IndiaUSARussiaChina    364

In [1047]:
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [1048]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87
2015 GDP            India      6
     GDP              USA      7
     GDP           Russia      8
     GDP            China      8
     Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [1049]:
df8.index

MultiIndex([('2010',      'GDP'),
            ('2010',      'GDP'),
            ('2010',      'GDP'),
            ('2010',      'GDP'),
            ('2010', 'Literacy'),
            ('2010', 'Literacy'),
            ('2010', 'Literacy'),
            ('2010', 'Literacy'),
            ('2015',      'GDP'),
            ('2015',      'GDP'),
            ('2015',      'GDP'),
            ('2015',      'GDP'),
            ('2015', 'Literacy'),
            ('2015', 'Literacy'),
            ('2015', 'Literacy'),
            ('2015', 'Literacy')],
           names=['Year', 'Literacy/GDP'])

In [1050]:
df8.loc['2010']

             Country  Value
Literacy/GDP
GDP            India      7
GDP              USA      8
GDP           Russia      7
GDP            China      6
Literacy       India     80
Literacy         USA     90
Literacy      Russia     89
Literacy       China     87

In [1051]:
df8.loc[['2010']]

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87

In [1052]:
df8.loc['2015','Literacy']

                  Country  Value
Year Literacy/GDP
2015 Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [1053]:
df8=df7.set_index(['Year', 'Literacy/GDP' , 'Country'])
df8

                           Value
Year Literacy/GDP Country
2010 GDP          India        7
                  USA          8
                  Russia       7
                  China        6
     Literacy     India       80
                  USA         90
                  Russia      89
                  China       87
2015 GDP          India        6
                  USA          7
                  Russia       8
                  China        8
     Literacy     India       88
                  USA         92
                  Russia      91
                  China       93

In [1054]:
df9 = df8.swaplevel('Year', 'Literacy/GDP')
df9

                           Value
Literacy/GDP Year Country
GDP          2010 India        7
                  USA          8
                  Russia       7
                  China        6
Literacy     2010 India       80
                  USA         90
                  Russia      89
                  China       87
GDP          2015 India        6
                  USA          7
                  Russia       8
                  China        8
Literacy     2015 India       88
                  USA         92
                  Russia      91
                  China       93

In [1055]:
df9 = df9.swaplevel('Year', 'Literacy/GDP')
df9

                           Value
Year Literacy/GDP Country
2010 GDP          India        7
                  USA          8
                  Russia       7
                  China        6
     Literacy     India       80
                  USA         90
                  Russia      89
                  China       87
2015 GDP          India        6
                  USA          7
                  Russia       8
                  China        8
     Literacy     India       88
                  USA         92
                  Russia      91
                  China       93

In [1056]:
pd.crosstab(df7['Literacy/GDP'] , df7.Value , margins=True)

Value         6  7  8  80  87  88  89  90  91  92  93  All
Literacy/GDP
GDP           2  3  3   0   0   0   0   0   0   0   0    8
Literacy      0  0  0   1   1   1   1   1   1   1   1    8
All           2  3  3   1   1   1   1   1   1   1   1   16

In [1057]:
pd.crosstab(df7.Year , df7['Literacy/GDP'] , margins=True)

Literacy/GDP  GDP  Literacy  All
Year
2010            4         4    8
2015            4         4    8
All             8         8   16

In [1058]:
pd.crosstab([df7.Year , df7['Literacy/GDP']] , df7.Country, margins=True)

Country            China  India  Russia  USA  All
Year Literacy/GDP
2010 GDP               1      1       1    1    4
     Literacy          1      1       1    1    4
2015 GDP               1      1       1    1    4
     Literacy          1      1       1    1    4
All                    4      4       4    4   16

In [1059]:
df8 = pd.DataFrame({'ID' :[1,2,3,4] ,  'Name' :['Panshul' , 'Vikram' , 'Aggarwal' , 'is awesome'] , 'Score' :[99 , 93 , 91 , 100]})
df8

   ID        Name  Score
0   1     Panshul     99
1   2      Vikram     93
2   3    Aggarwal     91
3   4  is awesome    100

In [1060]:
df9 = pd.DataFrame({'ID' :[5,6,7,8] ,  'Name' :['Crazy' , 'People' , 'Live' , 'Unwantingly'] , 'Score' :[78 , 54 , 77 , 87]})
df9

   ID         Name  Score
0   5        Crazy     78
1   6       People     54
2   7         Live     77
3   8  Unwantingly     87

In [1063]:
pd.concat([df8,df9])

   ID         Name  Score
0   1      Panshul     99
1   2       Vikram     93
2   3     Aggarwal     91
3   4   is awesome    100
0   5        Crazy     78
1   6       People     54
2   7         Live     77
3   8  Unwantingly     87

In [1065]:
pd.concat([df8, df9], ignore_index=True)

   ID         Name  Score
0   1      Panshul     99
1   2       Vikram     93
2   3     Aggarwal     91
3   4   is awesome    100
4   5        Crazy     78
5   6       People     54
6   7         Live     77
7   8  Unwantingly     87

In [1066]:
df10 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Panshul' , 'Vikram' , 'Aggarwal' , 'is awesome']})
df10

   ID        Name
0   1     Panshul
1   2      Vikram
2   3    Aggarwal
3   4  is awesome

In [1067]:
df11 = pd.DataFrame({'Age' :[20,30,35,40] , 'Score' :[99 , 66 , 44 , 33]})
df11

   Age  Score
0   20     99
1   30     66
2   35     44
3   40     33

In [1068]:
pd.concat([df10,df11] , axis = 1)

   ID        Name  Age  Score
0   1     Panshul   20     99
1   2      Vikram   30     66
2   3    Aggarwal   35     44
3   4  is awesome   40     33