In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

In [2]:

import warnings
warnings.filterwarnings("ignore")

In [3]:
v=np.array([1,2,3,4,5,6,7,8])
s1=pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [4]:
s1.dtype

dtype('int64')

In [5]:
s1.values.itemsize

8

In [6]:
s1.nbytes

64

In [7]:
s1.shape

(8,)

In [8]:
s1.ndim

1

In [9]:
len(s1)

8

In [10]:
s1.count()

np.int64(8)

In [11]:

s1.size

8

In [12]:
s2 = pd.Series([1,2,3],index = ['a','b','c',])
s2

a    1
b    2
c    3
dtype: int64

In [13]:
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g' , 'h']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [14]:
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

(array([0.29199843, 0.73651302, 0.23004229, 0.96794097, 0.6540652 ,
        0.89808864, 0.64332384, 0.17983707, 0.03910986, 0.68242138]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.291998
 1    0.736513
 2    0.230042
 3    0.967941
 4    0.654065
 5    0.898089
 6    0.643324
 7    0.179837
 8    0.039110
 9    0.682421
 dtype: float64)

In [15]:
dict1= {'a1': 10, 'b': 20, 'c' : 30, 'd' : 40}
s3=pd.Series(dict1)
s3

a1    10
b     20
c     30
d     40
dtype: int64

In [16]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

In [17]:

s

0    0.291998
1    0.736513
2    0.230042
3    0.967941
4    0.654065
5    0.898089
6    0.643324
7    0.179837
8    0.039110
9    0.682421
dtype: float64

In [18]:
s[1:5]

1    0.736513
2    0.230042
3    0.967941
4    0.654065
dtype: float64

In [19]:
s[-1:]

9    0.682421
dtype: float64

In [20]:
s[:4]

0    0.291998
1    0.736513
2    0.230042
3    0.967941
dtype: float64

In [21]:
s[:-1]

0    0.291998
1    0.736513
2    0.230042
3    0.967941
4    0.654065
5    0.898089
6    0.643324
7    0.179837
8    0.039110
dtype: float64

In [22]:
s[-1:]

9    0.682421
dtype: float64

In [23]:
s[-3:-1]

7    0.179837
8    0.039110
dtype: float64

In [24]:
s2=s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [25]:
s3

a1    10
b     20
c     30
d     40
dtype: int64

In [26]:
s4 = pd.concat([s1, s2])
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [27]:
s4.drop('b' , inplace=False)

a    1
c    3
d    4
e    5
f    6
g    7
h    8
a    1
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [28]:
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [29]:
s4 = pd.concat([s4, pd.Series({'d': 7})])
s4

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
d    7
dtype: int64

In [30]:
v1 = np.array([10, 20, 30, 40])
v2= np.array([1,2,3,4])
s1=pd.Series(v1)
s2=pd.Series(v2)
s1 , s2

(0    10
 1    20
 2    30
 3    40
 dtype: int64,
 0    1
 1    2
 2    3
 3    4
 dtype: int64)

In [31]:
s1.add(s2)

0    11
1    22
2    33
3    44
dtype: int64

In [32]:
s1.sub(s2)

0     9
1    18
2    27
3    36
dtype: int64

In [33]:
s1.mul(s2)

0     10
1     40
2     90
3    160
dtype: int64

In [34]:
s1.div(s2)

0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64

In [35]:
s1.max()

np.int64(40)

In [36]:
s1.min()

np.int64(10)

In [43]:
s1.mean()

np.float64(25.0)

In [44]:
s1.equals(s2)

False

In [ ]:
s1.std()

np.float64(12.909944487358056)

In [46]:
s1.median()

np.float64(25.0)

In [47]:
s1.mode()

0    10
1    20
2    30
3    40
dtype: int64

In [51]:
s5= pd.Series([1,1,2,2,3,3,4,4], index=[1,2,3,4,5,6,7,8])
s5

1    1
2    1
3    2
4    2
5    3
6    3
7    4
8    4
dtype: int64

In [52]:
s5.value_counts()

1    2
2    2
3    2
4    2
Name: count, dtype: int64

In [53]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [54]:
lang = ['Java', 'Python', 'C', 'C++', 'Rust']
df = pd.DataFrame(lang)
df

        0
0    Java
1  Python
2       C
3     C++
4    Rust

In [55]:
rating = [1,2,3,4,5]
df[1]= rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4
4    Rust  5

In [57]:
df.columns= ['PRG LANG', 'Rating']
df

  PRG LANG  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4
4     Rust       5